<?xml version="1.0"?>
<catalog>
   <book id="1">
      <author>Name Surname</author>
      <title>Answer book</title>
      <genre>Computer</genre>
      <price>55</price>
      <publish_date>2020-01-01</publish_date>
      <description>An in-depth look at creating applications
      with XML.</description>
       <pages>
           <page>
               <text>This is an answer as it is deepest tag <book>The correct answer book</book></text>
           </page>
       </pages>
   </book>
   <book id="2">
      <author>Name Surname</author>
      <title>Title of the fantasy</title>
      <genre>Fantasy</genre>
      <price>66</price>
      <publish_date>2020-01-02</publish_date>
      <description>A former IT architect battles corporate zombies,
      an evil sorceress, and his own childhood to become king
      of the Python with React world.</description>
   </book>
</catalog>