.flip__wrapper {
	width: 100%;
	margin: 0 auto;

	.panel {
		margin: 0 auto;
		min-height: 130px;  
		position: relative;
		perspective: 600px;
		-webkit-perspective: 600px;
		-moz-perspective: 600px;
	}
		
	.panel .front__form {
		height: inherit;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0; // Stretch form
		right: 0; // Stretch form
		z-index: 900;
		text-align: center;
		-webkit-transform: rotateX(0deg) rotateY(0deg);
		   -moz-transform: rotateX(0deg) rotateY(0deg);
				transform: rotateX(0deg) rotateY(0deg);
		-webkit-transform-style: preserve-3d;
		   -moz-transform-style: preserve-3d;
				transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
				backface-visibility: hidden;
		-webkit-transition: all .4s ease-in-out;
		   -moz-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			 -o-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
	}
	
	.panel .back__stats {
		height: inherit;
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 1000;
		-webkit-transform: rotateY(-180deg);
		   -moz-transform: rotateY(-180deg);
				transform: rotateY(-180deg);
		-webkit-transform-style: preserve-3d;
		   -moz-transform-style: preserve-3d;
				   transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
				   backface-visibility: hidden;
		-webkit-transition: all .4s ease-in-out;
		   -moz-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			 -o-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
	}
	
	.panel.flip .front__form {
		z-index: 900;
		-webkit-transform: rotateY(180deg);
		   -moz-transform: rotateY(180deg);
				transform: rotateY(180deg);
	}
	
	.panel.flip .back__stats {
		z-index: 1000;
		-webkit-transform: rotateX(0deg) rotateY(0deg);
		   -moz-transform: rotateX(0deg) rotateY(0deg);
				transform: rotateX(0deg) rotateY(0deg);
	}
	
	.front__form__box {
		width: 100%;
		margin: 0 auto;
		padding: 16px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	
	.back__stats_box {
		background-color: $grey-3;
		width: 100%;
		margin: 0 auto;
		padding: 16px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		text-align: left;
	}
}